
<div class="banner">
        <app-tob-bar></app-tob-bar>

         <img src="assets/banner.png" alt=""> 

    <div class="central centralizando" align="center">
        <div class="titulo_banner">
            <h1 style="border-bottom: white solid 2px;">S E V E R A L F O O D S</h1>

            <div class="barra_item">
                    <ul>
                       <li style="list-style: none;"><h1>HOME</h1></li>
                       <li><h1>CONTATO</h1></li>
                       <li><h1>ALMOÇO</h1></li>
                    </ul>
            </div>
        </div>
    </div>
</div>

<div>
     <div class="sobrenós">
        <div class="introducao">
                <h1>Garantimos a qualidade</h1>
                <p>texto texto texto
                texto texto texto
                texto texto texto
                texto texto texto
                texto texto texto
                texto texto texto
                </p>
        </div>
        <div class="img_introducao">
            <img src="assets/cozinheiro.png" alt="">
        </div>
    </div>
</div>

<div class="container">
 <app-comida-chinesa></app-comida-chinesa>
</div>

 <!-- <div class="ofertas">
            <div class="titulo">
                <h1>Nossos pratos mais baratos</h1>
            </div>

            <div>

                <div class="image_ofertas">
                    <h2>Porção de batata frita</h2>
                    <img src="assets/bacon.png" alt="">
                </div>

                <div class="image_ofertas">
                    <h2>Bacon no palito</h2>
                    <img src="assets/bacon.png" alt="">
                </div>

                <div class="image_ofertas">
                    <h2>Hmburger artesanal na chapa</h2>
                    <img src="assets/bacon.png" alt="">
                </div>

            </div>
</div>  -->


